*{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
img{
    height: 400px;
    width: auto;
}
h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


